/*colors used:
background color (white): #FFFFFF;
primary color (black): #000000;
font color (navy): #154C6B;
circle color (yellow): #FCEDB7;
circle font (dark yellow): #FFD260;
box color (pale blue): #F3FBFF;
box outline (blue): #DDECF5;
*/
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px; /* Sets the font size to 14px */
  font-weight: 400; /* Sets the font weight to 400 */
  line-height: 1.2; /* Sets the line-height to 1.2 * the font-size */
  color: #000000;
}
h1 {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.5em;
  color: 000000;
}
h2 {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.25em;
  color: 000000;
}
h3 {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.12em;
  color: 000000;
}
h4 {
  font-family: 'Montserrat', serif;
  font-size: 0.62em;
  color: 000000;
}
p {
  font-family: 'Montserrat', serif;
  font-size: 14px;
  color: 000000;
}
