/*colors used:
background color (white): #FFFFFF;
primary color (black): #000000;
font color (navy): #154C6B;
circle color (yellow): #FCEDB7;
circle font (dark yellow): #FFD260;
box color (pale blue): #F3FBFF;
box outline (blue): #DDECF5;
*/
body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 500;
  /* Sets the font weight to 400 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
}

h1 {
  font-family: 'Poppins', serif;
  font-size: 3rem;
  font-weight: 700;
  color: #154C6B;
}

h2 {
  font-family: 'Poppins', serif;
  font-size: 1.25rem;
  color: #154C6B;
}

h3 {
  font-family: 'Poppins', serif;
  font-size: 1.12rem;
  color: #154C6B;
}

h4 {
  font-family: 'Poppins', serif;
  font-size: 0.62rem;
  color: 000000;
}

p {
  font-family: 'Poppins', serif;
  font-size: 14px;
  color: 000000;
}

img {
  width: 100%;
}

a {
  color: #000000;
  text-decoration: none;
  /* No underlining */
}

a:hover {
  color: #000000;
  font-weight: 500;
  /* bold when hovering over a link */
}

a:active {
  /* selected link */
  color: #000000;
  font-weight: 700;
}

a.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #000000;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 500;
  letter-spacing: 0.1rem;
  padding: 10px 20px;
  border-radius: 6px;
  transition: 0.2s opacity;
}

a.button1 {
  background-color: #154C6B;
}

a.button2 {
  background-color: #F5AD94;
}

a.button3 {
  background-color: #4B5572;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  color: #FFFFFF;
  font-weight: 700;
}

.line {
  min-width: 20px;
  border-bottom: 1px solid #000000;
}

.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

header {
  background-color: #ffffff;
  padding: 10px;
  margin: 1em;
  border-bottom: 3px solid #4a4a4a;
}

.overview {
  background-color: #154C6B;
  padding: 1em;
  border-radius: 30px;
}

.overview h2, .overview h4, .overview p {
  color: #ffffff;
}
