/*colors used:
background color (white): #FFFFFF;
primary color (black): #000000;
font color (navy): #154C6B;
circle color (yellow): #FCEDB7;
circle font (dark yellow): #FFD260;
box color (pale blue): #F3FBFF;
box outline (blue): #DDECF5;
*/
* {
  box-sizing: border-box;
}

.container {
  max-width: 1750px;
  margin: auto;
}

main {
  max-width: 1750px;
  margin: auto;
}

img {
  width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 400;
  /* Sets the font weight to 400 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
}

h1 {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  color: #000000;
}

h2 {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.25rem;
  letter-spacing: 0.1em;
  color: #000000;
}

h3 {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.12rem;
  letter-spacing: 0.1em;
  color: #000000;
}

h4 {
  font-family: 'Montserrat', serif;
  font-size: 0.62rem;
  color: #000000;
}

a {
  color: #000000;
  text-decoration: none;
  /* No underlining */
}

a:hover {
  color: #000000;
  font-weight: 500;
  /* bold when hovering over a link */
}

a:active {
  /* selected link */
  color: #000000;
  font-weight: 700;
}

a.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 500;
  padding: 0;
  border-radius: 6px;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  color: #FFFFFF;
  font-weight: 700;
}

.line {
  min-width: 20px;
  border-bottom: 1px solid #000000;
}

.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

header {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  padding: 0;
  border: 1rem solid #ffffff;
}

.navigation {
  display: flex;
  justify-content: space-around;
  max-width: 500px;
  margin: 0 auto;
}

nav {
  padding: 5px 0;
  border-bottom: 3px solid #4a4a4a;
  margin-top: 10px;
}

main {
  padding: 0 1rem;
  padding-top: 200px;
}

/************************* Layout styling */
.container {
  padding: 0px;
}

.row {
  margin: 75px 0;
}

#hero h1, #hero p {
  text-align: center;
}

footer {
  text-align: center;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 12px;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

footer ul li a {
  padding: 0 20px;
}

.tools ul, ul {
  list-style-type: none;
  padding: 0;
}

.tools ul li {
  position: relative;
  display: inline-block;
}

.tools img {
  display: block;
  max-width: 200px;
  margin: 0 auto;
}

.logo {
  max-width: 200px;
  display: block;
  margin: auto;
}

h2 {
  text-align: center;
}

#hero {
  padding: 20px 0;
  display: inline;
  width: 100%;
}

.relevant {
  margin-top: 5rem;
}

.tools {
  margin-top: 5rem;
}

.copyright {
  font-size: .5rem;
}

#work h3 {
  margin: 0;
}

#work {
  margin-top: 100px;
}

.font-size>div {
  width: 20vw;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  .logo {
    float: left;
  }

  .navigation {
    float: right;
    margin-top: -35px;
  }

  nav {
    padding-top: 150px;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}
