/*colors used:
background color (white): #FFFFFF;
primary color (black): #000000;
font color (navy): #154C6B;
circle color (yellow): #FCEDB7;
circle font (dark yellow): #FFD260;
box color (pale blue): #F3FBFF;
box outline (blue): #DDECF5;
*/
main body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 500;
  /* Sets the font weight to 400 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
}

main h1 {
  font-family: 'Poppins', serif;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0;
  margin: 10px;
  color: #154C6B;
  text-align: center;
}

main h2 {
  font-family: 'Poppins', serif;
  font-size: 1.25rem;
  letter-spacing: 0;
  color: #154C6B;
  text-align: left;
}

main h3 {
  font-family: 'Poppins', serif;
  font-size: 1.12rem;
  letter-spacing: 0;
  color: #154C6B;
}

main h4 {
  font-family: 'Poppins', serif;
  font-size: 0.62rem;
  color: 000000;
}

main p {
  font-family: 'Poppins', serif;
  font-size: 14px;
  color: 000000;
}

img {
  width: 100%;
  max-width: 700px;
  margin: auto;
}

.line {
  min-width: 20px;
  border-bottom: 1px solid #000000;
}

.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.overview {
  background-color: #154C6B;
  padding: 1em;
  border-radius: 30px;
}

.center {
  display: inline-block;
  margin: 0 auto;
}

.overview h2, .overview h4, .overview p {
  color: #ffffff;
}

.competitor {
  background-color: #F3FBFF;
  color: #154C6B;
  border: .125rem solid #E5F4FD;
  margin: 1rem;
  padding: 1rem;
  border-radius: 30px;
}

.color1 p, .color2 p {
  margin: 0;
}

.color1, .color2 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  gap: 10px;
  justify-content: flex-start;
}

.color1-title {
  margin: 0 auto 60px;
  max-width: 590px;
}

.color2-title {
  margin: 0 auto 60px;
  max-width: 757px;
}



.typeface p {
  font-size: 1.25rem;
  color: #154c6b;
}

#final h3, #final p {
  display: block;
  text-align: center;
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2%;
  max-width: 1500px;
}

.item {
  text-align: center;
  margin: 0, 10px;
}

.user-test {
  margin: 100px 0;
}

.test {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr, 50px;
  grid-gap: 5%;
  max-width: 1500px;
}

.test img {
  max-width: 500px;
}

.test h2 {
  color: #E1A200;
  text-align: center;
}




@media only screen and (min-width: 640px) {

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
  }
  .typeface {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 200px));
    grid-template-rows: 40px 50px;
    margin: 20px auto;
  }

  .typeface p {
    margin: 0;
  }

  .typeface-title2 {
    grid-column-start: 3;
  }

  .fontname {
    grid-area: 2/1;
  }

  .bold {
    grid-area: 2/3;
  }

  .semibold {
    grid-area: 2/4;
  }

  .medium {
    grid-area: 2/5;
  }

  .light {
    grid-area: 2/6;
  }
}
