/*colors used:
background color (white): #FFFFFF;
primary color (black): #000000;
font color (navy): #154C6B;
circle color (yellow): #FCEDB7;
circle font (dark yellow): #FFD260;
box color (pale blue): #F3FBFF;
box outline (blue): #DDECF5;
*/
main body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 500;
  /* Sets the font weight to 400 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
}

main h1 {
  font-family: 'Poppins', serif;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0;
  margin: 0;
  color: #154C6B;

}

main h2 {
  font-family: 'Poppins', serif;
  font-size: 1.25rem;
  letter-spacing: 0;
  color: #154C6B;
  text-align: left;
}

main h3 {
  font-family: 'Poppins', serif;
  font-size: 1.12rem;
  letter-spacing: 0;
  color: #154C6B;
}

main h4 {
  font-family: 'Poppins', serif;
  font-size: 0.62rem;
  color: 000000;
}

main p {
  font-family: 'Poppins', serif;
  font-size: 14px;
  color: 000000;
}

img {
  width: 100%;
}

.line {
  min-width: 20px;
  border-bottom: 1px solid #000000;
}

.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.overview {
  background-color: #154C6B;
  padding: 1em;
  border-radius: 30px;
}

.center {
  display: inline-block;
  margin: 0 auto;
}

.overview h2, .overview h4, .overview p {
  color: #ffffff;
}

.competitor {
  background-color: #F3FBFF;
  color: #154C6B;
  border: .125rem solid #E5F4FD;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 30px;
}

.mvp {
  background-color: #FCEDB7;
  color: #E1A200;
  text-align: center;
  width: 50vw;
  height: 50vw;
  border-radius: 50%;
}

.mvp h3, .mvp h2 {
  color: #E1A200;
  text-align: center;
}

.color p {
  margin: 0;
}

.color ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 750px;
}

.color li{
padding: 5px;
}

.color {
  display: inline-block;
  margin: 0 auto;
}

.typeface p {
  font-size: 1.25rem;
  color: #154c6b;
}

#final h3, #final p {
  display: block;
  text-align: center;
}
