/*colors used:
background color (white): #FFFFFF;
primary color (black): #000000;
font color (navy): #154C6B;
circle color (yellow): #FCEDB7;
circle font (dark yellow): #FFD260;
box color (pale blue): #F3FBFF;
box outline (blue): #DDECF5;
*/
body {
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-family: 'Libre Baskerville', serif;
  font size: 24px;
  color: 000000;
}
h2 {
  font-family: 'Libre Baskerville', serif;
  font size: 20px;
  color: 000000;
}
h3 {
  font-family: 'Libre Baskerville', serif;
  font size: 18px;
  color: 000000;
}
